<body>
    <div class="container">
        <div class="header">
            <h1>
                <span>
                    Certificates
                </span>
            </h1>
        </div>
        <div class="card-wrap">
            <div class="card">
                <h1><span>Bachelor's of Engineering</span></h1>
                <span style="font-size: 20px;">2018 - 2022</span><br>
                <span>Anna University</span>
            </div>
            <div class="card">
                <h1><span>Angular Developer</span></h1>
                <span style="font-size: 20px;">2022 - 2023</span><br>
                <span>Anna University</span>
            </div>
            <div class="card">
                <h1><span>Bolt-Hack-a-thon</span></h1>
                <span style="font-size: 20px;">2021</span><br>
                <span>Anna University</span>
            </div>
        </div>
        <div class="cv_btn">
            <a id="hire" target="_blank" href="https://aqua-carin-80.tiiny.site" > View CV</a>
        </div>
    </div>
</body>
