<body>
    <div class="container">
        <div class="header">
            <h1>Services</h1>
        </div>
        <div class="row">
            <div class="column">
                <div class="card">
                    <span>WEB Development</span>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <span>Photography</span>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <span>UI/UX Design</span>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="column">
                <div class="card">
                    <span>Branding</span>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <span>Product Strategy</span>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <span>Programming <br> java, Angular</span>
                </div>
            </div>
            
        </div>
    </div>
</body>
