<body>
    <div class="container">
        <div class="info">
            <div class="email">
                <h4><span>EMAIL</span></h4>
                <span style="font-size: 16px; color: black; font-weight: 100;">abubakkarsiddiqn697[at]gmail[dot]com</span>
            </div>
            <div class="phone">
                <h4><span>PHONE</span></h4>
                <span style="font-size: 18px; color: black; font-weight: 100;">(+91) 9600548757</span>
            </div>
            <div class="resume">
                <h4><span>RESUME</span></h4>
                <a href="https://aqua-carin-80.tiiny.site" target="_blank" class="link" id="msg">View my resume</a>
            </div>
        </div>
        <div class="contact_form">
            <div class="header">
                <p>Thank you, for Contacting,<br>Hppay to connect with you ASAP...!</p>
            </div>
            <!-- <div class="form">
              <form >
                <input type="text" class="text-field w-input" maxlength="256" name="First Name" data-name="First Name" placeholder="First Name" type="text" id="First-Name" required>

                <input type="text" class="text-field w-input" maxlength="256" name="Last Name" data-name="Last Name" placeholder="Last Name" type="text" id="Last-Name" required><br><br>

                <input type="email" class="text-field-2 w-input" maxlength="256" name="Email Address" data-name="Email Address" placeholder="Email Address" type="email" id="Email Address" required><br><br>
                <input type="tel" class="text-field-2 w-input" maxlength="256" name="Phone Number" data-name="Phone Number" placeholder="Phone Number" type="tel" id="Phone Number" required><br><br><br>

                <textarea name="Message" id="Message" maxlength="5000" data-name="Message" placeholder="Message" class="text-area"></textarea><br><br>

                <input type="submit" data-wait="Please wait..." class="button-2 w-button" value="GET IN TOUCH">
              </form>
              
            </div> -->
        </div>
    </div>
</body>

