<body>
    <!-- <app-navbar></app-navbar> -->
    <div class="container">
      <!-- content -->
      <div class="intro">
        <span>Hello, I'm <br> Abubakkar, a <br> Full Stack Developer.</span>
        <p>I create web-development solutions that elevate human <br> experiences.</p>
        <div class="button_1">
          <a target="_blank" href="https://www.naukri.com/mnjuser/homepage" > Naukri</a>
  
        <a id="hire" target="_blank" href="https://www.naukri.com/mnjuser/homepage" > Hire Me</a>
        </div>
      </div>
      <div class="other">
        <app-about></app-about>
        <app-certificates></app-certificates>
        <app-service></app-service>
        <app-projects></app-projects>
        
    </div>
      
    </div>
    
</body>
