<div class="body">
    <div class="container">
        <div class="member_image">
            <div class="image_mask">
                <img src="https://img.freepik.com/premium-vector/vector-flat-illustration-software-developer-cyber-program-security_776789-211.jpg?size=338&ext=jpg&ga=GA1.1.1448711260.1707004800&semt=ais" alt="developer image">
            </div>
        </div>
        <div class="about">
            <h1>
                <span class="about_head">
                    Hello!
                    <br>
                    <br>
                    My name is Abubakkar Siddiq - you can call me "Abubakkar" for short!
                </span>
            </h1>
            <div class="detail">
                <p> I'm thrilled to introduce myself as a Fresher, MEAN stack developer. With a passion for crafting robust and dynamic web applications, I specialize in leveraging the power of the MEAN stack to create seamless and efficient solutions.</p>
                <p>🌐 The acronym "MEAN" stands for MongoDB, Express.js, Angular, and Node.js, representing the key technologies that I proficiently work with. As a MongoDB developer, I design and manage databases that ensure scalability and flexibility. Express.js is my go-to framework for building robust and scalable server-side applications, while Angular empowers me to create engaging and responsive user interfaces. Node.js ties it all together as the server-side runtime, enabling the execution of JavaScript on the server.</p>
                <!-- <p>💡 I bring a wealth of experience in developing full-stack applications, embracing the latest industry trends and best practices. From designing databases to implementing server-side logic and creating intuitive user interfaces, I thrive on delivering solutions that not only meet but exceed client expectations.</p> -->
                <p>🚀 Whether it's crafting RESTful APIs, implementing real-time features, or optimizing performance, I am dedicated to delivering high-quality, scalable, and maintainable code. Continuous learning is at the core of my professional journey, ensuring that I stay ahead in this ever-evolving tech landscape.</p>
                <p>👨‍💻Seeking a supportive and collaborative environment where I can grow my technical expertise and make meaningful contributions to projects and teams.</p>
                <p>Looking forward to connecting with fellow tech enthusiasts and building amazing things together! 🚀✨</p>
            </div>
            <div class="contact">
                <a href="mailto:abubakkarsiddiqn697@gmail.com" class="link">Email me</a><br>
                <a href="https://www.linkedin.com/in/abubakkar-webdev" class="link">Connect with me on LinkedIn</a><br>
                <a href="" class="link">View my resume</a>
            </div>

        </div>
    </div>
</div>
